<!--文件头部-->
<include file='./Application/Home/View/default/header.html' />

<body class="user-select">
<!--导航栏-->
<include file='./Application/Home/View/default/nav.html' />
<section class="container container-page">
  <div class="pageside">
    <div class="pagemenus">
      <ul class="pagemenu">
        <li><a href="{:U('Tags/index')}">标签云</a></li>
        <li><a href="{:U('Readers/index')}">读者墙</a></li>
        <li><a href="{:U('Links/index')}">友情链接</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <header class="article-header">
      <h1 class="article-title">读者墙</h1>
    </header>
    <div class="readers"> <a class="item-readers item-readers-1" target="_blank" href="#" rel="nofollow">
      <h4>【金牌读者】<small>评论：123</small></h4>
      <img class="avatar" height="36" width="36" src="images/icon/icon.png" alt=""><strong>张飞</strong></a> <a class="item-readers item-readers-2" target="_blank" href="#" rel="nofollow">
      <h4>【银牌读者】<small>评论：12</small></h4>
      <img class="avatar" height="36" width="36" src="images/icon/icon.png" alt=""><strong>lili</strong></a> <a class="item-readers item-readers-3" target="_blank" href="" rel="nofollow">
      <h4>【铜牌读者】<small>评论：8</small></h4>
      <img class="avatar" height="36" width="36" src="images/icon/icon.png" alt=""><strong>xiaomi</strong></a> <a class="item-readers item-readers-4" target="_blank" href="" rel="nofollow">
      <h4>【普通读者】<small>评论：1</small></h4>
      <img class="avatar" height="36" width="36" src="images/icon/icon.png" alt=""><strong>石达开</strong></a> </div>
  </div>
</section>
<include file='./Application/Home/View/default/footer.html' />
<!--微信二维码模态框-->
<div class="modal fade user-select" id="WeChat" tabindex="-1" role="dialog" aria-labelledby="WeChatModalLabel">
  <div class="modal-dialog" role="document" style="margin-top:120px;width:280px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="WeChatModalLabel" style="cursor:default;">微信扫一扫</h4>
      </div>
      <div class="modal-body" style="text-align:center"> <img src="images/weixin.jpg" alt="" style="cursor:pointer"/> </div>
    </div>
  </div>
</div>
<!--该功能正在日以继夜的开发中-->
<div class="modal fade user-select" id="areDeveloping" tabindex="-1" role="dialog" aria-labelledby="areDevelopingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="areDevelopingModalLabel" style="cursor:default;">该功能正在日以继夜的开发中…</h4>
      </div>
      <div class="modal-body"> <img src="images/baoman/baoman_01.gif" alt="深思熟虑" />
        <p style="padding:15px 15px 15px 100px; position:absolute; top:15px; cursor:default;">很抱歉，程序猿正在日以继夜的开发此功能，本程序将会在以后的版本中持续完善！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">朕已阅</button>
      </div>
    </div>
  </div>
</div>
<div id="rightClickMenu">
  <ul class="list-group rightClickMenuList">
    <li class="list-group-item disabled">欢迎访问异清轩博客</li>
    <li class="list-group-item"><span>IP：</span>172.16.10.129</li>
    <li class="list-group-item"><span>地址：</span>河南省郑州市</li>
    <li class="list-group-item"><span>系统：</span>Windows10 </li>
    <li class="list-group-item"><span>浏览器：</span>Chrome47</li>
  </ul>
</div>
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.ias.js"></script> 
<script src="js/scripts.js"></script>
</body>
</html>